.task-tools/
.build-cache/
cmake-build-*/
dist/
out/
vcpkg_installed/
deps/discord-rpc/
utils/windows/ffmpeg/
utils/windows/stremio-runtime.exe
utils/windows/server.js
utils/windows/*Setup.exe
utils/windows/WebviewRuntime/
utils/Stremio*.exe
utils/Stremio*.7z
utils/Stremio*.zip
__pycache__/
utils/mpv/anime4k/portable_config/shaders/
